node_modules
.turbo
dist
coverage
.vite
.next
**/.next
.env
.env.local
*.log
*.tsbuildinfo
.pnpm-store
app/release
app/.electron-builder
app/build/icons/.tmp
.construct
**/.construct
.vercel
**/.vercel
.DS_Store
**/.DS_Store
